{% extends "quests/base.html" %}

{% block title%}
FoodQuest | Evaluation
{% endblock %}

{% block content %}
<div class="row mx-auto div_process">
<h2>Как пройти квест?</h2>
<p>Если во время прохождения квеста вы столкнётесь с трудностями, вы можете вернуться и выполнить задание ещё раз!<br>
Food Quest будет считаться пройденным только после того, как участники создадут и отправят видеоролики на сайт в раздел "Communication Box".<br>
На видео участники должны продемонстрировать одну из ситуаций на выбор:<br>
<ul class="list-group">
    <li class="list-group-item"> 1. Make an order (Вы делаете заказ в ресторане). </li>
    <li class="list-group-item">1. Make an order (Вы делаете заказ в ресторане). </li>
    <li class="list-group-item">3. Recipe for your favourite dish! (Делитесь рецептом любимого блюда).</li>
</ul>
Если в Вашем видео вы используете изученные слова из Food Quest, присутствуют декорации, и вы демонстрируете актёрское мастерство, то сертификат об успешном прохождении квеста будет именно вашим!<br>
Good luck!</p>

    <p>Советы:<br>
        1. После отправки ответов на тест вы не сможете пройти тест еще раз<br>
        (примечание: если вы забыли ответить на некоторые вопросы, то можно вернутся к выполнению)<br>
        2. Вы можете отставить комментарии на странице FeedBack<br>
    </p>
    <h3>Критерии оценивания видео:</h3>
    <table class="table table-hover">
  <thead>
    <tr>
      <th>№</th>
      <th>Критерии</th>
      <th>Баллы</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Объем - не менее 5 распространённых предложений</td>
      <td>0-2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Использование тематической лексики</td>
      <td>0-2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Грамматическая правильность</td>
      <td>0-2</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Логичность и структурированность речи</td>
      <td>0-2</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Оригинальность, использование реквизита</td>
      <td>0-2</td>
    </tr>
    <tr>
        <th></th>
        <th class="text-right">Итого:</th>
        <th>10</th>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}